[user]
	name = ssriram
	email = naughtysriram@gmail.com

[github]
	user = ssriram
	email = naughtysriram@gmail.com

[nodester]
	name = bizzmagnate
	email = bizzmagnate@gmail.com

[alias]
	in = init
	st = status
	cl = clone
	ch = checkout
	cam = commit -am
	wat = whatchanged
	l = log
	b = branch
	sb = show-branch
	d = diff --ignore-space-change
	pushm = push origin master
	pullm = pull origin master
	pushd = push origin dev
	pulld = push origin dev	
	md = merge dev
	aa = -A
	undo = reset --soft HEAD~1

[color]
	diff = auto
	branch = auto
	status = auto
	ui = auto

